.home_hero_main {
	height: 500px;
	background-color: white;
	background-image: url('../images/home/phone_hero_main.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
}
.home_hero_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.home_hero {
	display: grid;
	grid-template-columns: 1fr calc(400px + 0.5rem);
	height: 400px;
}
.home_hero img {
	align-self: end;
	height: 100%;
}
.home_hero_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1400px) {
	.home_hero {
		grid-template-columns: 1fr calc(250px + 0.5rem);
		height: 250px;
	}
}
@media (max-width: 1023px) {
	.home_hero {
		grid-template-columns: 1fr calc(200px + 0.5rem);
		height: 200px;
	}
}
@media (max-width: 767px) {
	.home_hero_grid {
		grid-template-columns: 1fr;
		grid-gap: 0.5rem;
	}
	.home_hero {
		grid-template-columns: 1fr;
		grid-gap: 1.5rem;
		height: initial;
	}
	.home_hero img {
		margin: auto;
		height: initial;
	}
}
@media (max-width: 676px) {
	.home_hero_main h1 {
		font-size: 2em;
		margin-bottom: 0px;
	}
	.home_hero_main h2 {
		font-size: 1.5em;
	}
}
@media (max-width: 425px) {
	.home_hero img {
		width: 100%;
	}
}