main {
	display: grid;
	grid-gap: 0.5rem;
	margin: 0;
	height: calc(100vh - 48px);
}
.home_hero {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}
.home_hero img {
	position: absolute;
	top: 6rem;
	transition: all 0.2s;
}
.home_hero:hover > img {
	top: 5rem;
}
.phone_hero {
	background: hsl(207, 50%, 90%);
}
.laptop_hero {
	background: hsl(0, 0%, 90%);
}
@media screen and (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (orientation: portrait) {
	main {
		grid-template-rows: 1fr 1fr;
	}
	.home_hero h1 {
		margin: 1rem 0 0 0;
	}
	.phone_hero_img {
		width: 50%;
		left: 25%;	
	}
	.laptop_hero_img {
		width: 100%;
		left: 0;
	}
}