html {
	background-image: url('../images/home/kevin-bhagat-461952-unsplash.jpg');	
	background-position: top;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-color: var(--text-dark-translucent);
	background-size: cover;
}
html, a, h1, h2, header svg {
	color: var(--white-translucent);
}
.site_header {
	border-bottom: 1px solid transparent;
}
main {
	height: calc(100vh - 57px);
	position: relative;
	display: flex;
	flex-direction: column;
}
main > *:not(.hero) {
	margin: auto;
	text-align: center;
}
.home_hero_attribution {
	font-size: xx-small;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}