.phone_hero {
	background-color: var(--text-dark-translucent);
	background-image: url('../images/home/pexels-photo-261628.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
}
.phone_hero h1 {
	color: var(--white-translucent);
}
