p, .highlights_table ul {
	line-height: 1.5;
}
.product_overview {
	display: flex;
	flex-direction: row;
	min-height: 60vh;
	max-height: 1280px;
}
.product_media, .product_info {
	width: 50%;
}
.product_media {
	display: grid;
	grid-template-rows: 1fr 75px;
	transition: opacity 0.1s;
}
.product_info {
	display: flex;
}
.product_image {
	display: block;
	max-height: 1000px;
	width: 100%;
	object-fit: contain;
	margin: auto;
	transition: opacity 0.1s;
}
.image_thumbs {
	text-align: center;
	margin: auto;
}
.image_thumb {
	cursor: pointer;
	height: 50px;
	margin: 0 0.5rem;
}
.info_window, .info_window_footer, .price_listing_row, .info_window_row,
.product_details > div, .highlights_table, .spec_table, .spec_table_spec,
.spec_table_row, .spec_table_subtable {
	display: grid;
}
.info_window {
	margin: auto 1rem;
	max-width: 30rem;
	border-radius: 4px;
	box-shadow: 0px 2px 6px var(--shadow);
	/*padding: 1rem 1rem 0;*/
}
.info_window > * {
	padding: 0 1rem;
}
.info_window > *:first-child {
	padding-top: 1rem;
}
.info_window > *:last-child {
	padding-bottom: 1rem;
}
.info_window h1, .info_window h2, .info_window h3 {
	margin: 0;
	/*padding: 0.5rem 0;*/
}
.info_window h1 {
	padding-top: 0;
	font-size: 2em;
}
.info_window .product_oem {
    font-weight: 700;
}
.info_window_row {
	grid-gap: 0.5rem;
}
.info_window_row_button {
	text-align: center;
	border: 1px solid transparent;
	transition: border 0.2s, background-color 0.2s;
}
#product_highlights {
	margin-bottom: 0.5rem;
}
.highlights_table ul {
	list-style-type: none;
    padding-left: 1.25rem;
    margin: 0;
}
.highlights_table ul li:before {
    display: block;
    float: left;
    width: 1.25em;
    margin-left: -1.25em;
    font-weight: 700;
}
.positive_highlights li:before {
	content: "+";
    color: var(--accent-main);
}
.negative_highlights li:before {
	content: "\2212";
    color: var(--dark-grey);
}
.info_window_row_button_active {
	border: 1px solid var(--shadow);
}
.colour_row {
	grid-template-columns: repeat(5, calc(2.5rem + 4px));
	margin-bottom: 0.5rem;
}
.colour_button {
	cursor: pointer;
	display: flex;
	border-radius: 50%;
}
.colour {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	border: 1px solid #aaa;
	margin: auto;
}
.storage_row {
	grid-template-columns: repeat(3, 1fr);
}
.info_window_footer {
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
	margin-top: 1rem;
}
.info_window_footer button, .info_window_footer .button {
	display: block;
	width: 100%;
	padding: 1rem 0;
	margin-top: 1rem;
	text-transform: none;
	text-align: center;
}
.price_listing_row {
	grid-template-columns: 1fr auto;
}
.price_listing_row > * {
	align-self: center;
	margin: 0.25rem 1rem;
}
.price_listing_row > *, .highlights_table li, #product_description p, 
.spec_table_spec_overview, .spec_table_spec .spec_table_item {
	font-size: 0.875em;
}
.spec_table_spec, .highlights_table {
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}
.product_details {
	padding-top: 1.5rem;
}
.product_details h3 {
	margin-bottom: 0.5rem;
}
.product_details > div {
	grid-template-columns: 1fr 3fr;
	grid-gap: 2rem;
	margin: auto;
	max-width: 1100px;
}
.product_details > div > * {
	margin-top: 1rem;
}
.spec_table {
	margin-bottom: 1rem;
	grid-gap: 1rem;
}
.spec_table_row {
	grid-template-columns: 1fr auto;
	cursor: pointer;
}
.spec_table_row:first-child > h4 {
	margin-top: 0rem;
}
.spec_table_row h4 {
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}
.spec_table_row svg {
	align-self: end;
	margin-bottom: 0.5rem;
	cursor: pointer;
	transition: transform 0.25s;
}
.spec_table_row_open > .spec_table_spec_overview {
	/*animation-name: collapse_row;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	display: none;*/
	opacity: 0;
}
.spec_table_row_open > .spec_table_spec {
	animation-name: expand_row;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	display: grid;
}
.spec_table_row_open svg {
	transform: rotate(180deg);
}
.spec_table_row_close > .spec_table_spec_overview {
	/*animation-name: expand_row;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	display: block;*/
	opacity: 1;
}
.spec_table_row_close > .spec_table_spec {
	animation-name: collapse_row;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	/*display: none;*/
}
.spec_table_row_close svg {
	transform: rotate(0deg);
}
.spec_table_subtable {
	grid-gap: 1rem;
	grid-template-rows: auto;
}
.spec_table_subtable h5 {
	margin: 0.5rem 0;
}
.spec_table_spec_overview {
	grid-column: 1 / -1;
	transition: opacity 0.1s;
}
.spec_table_spec {
	display: none;
	max-height: 0;
	margin-top: -1rem;
}
.footnote_ref {
	font-size: 0.875em;
}
.footnotes {
	padding: 1rem 0;
	margin: 0 1rem;
}
.footnote {
	grid-template-columns: auto 1fr;
	margin-bottom: 0.25rem;
	font-size: 0.625em;
}
@media (max-width: 767px) {
	html {
		background: #fff;
	}
	.product_overview {
		flex-direction: column;
		height: auto;
	}
	.product_media, .product_info, .info_window {
		width: 100%;
	}
	.info_window {
		box-shadow: none;
		padding: 0;
		margin: 0;
		max-width: 100%;
	}
	.info_window > * {
		padding: 0;
	}
	.highlights_table ul {
	    margin-bottom: 0.5rem;
	}
	.price_listing_row > * {
		margin: 0.25rem 0;
	}
	.product_details > div, .highlights_table {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	.spec_table_spec, .highlights_table {
		grid-template-columns: 1fr;
	}
	.spec_table_spec > .spec_table_subtable:nth-child(2) {
		grid-row: 3;
	}
}
@keyframes expand_row {
	from {opacity: 0; max-height: 0px}
	to {opacity: 1; max-height: 1000px}
}
@keyframes collapse_row {
	from {opacity: 1; max-height: 1000px}
	to {opacity: 0; max-height: 0px}
}