html, button, input {
	font-family: 'Open Sans', sans-serif;
}
body {
	margin: 0;
}
main > *:not(.hero) {
	max-width: 1400px;
	margin: auto;
}
header {
	height: 64px;
}
header, header section {
	display: flex;
	flex-direction: row;
}
header section {
	width: 700px;
}
header section:first-child {
	justify-content: flex-start;
	margin-left: auto;
}
header section:last-child {
	justify-content: flex-end;
	margin-right: auto;
}
header section > * {
	margin: 0 0.5rem;
	align-self: center;
	white-space: nowrap;
}
header section > *:first-child {
	margin-left: 1rem;
}
header section > *:last-child {
	margin-right: 1rem;
}
button, .button {
	font-size: 0.875em;	
}
h1, h2, h3, button, .button {
	font-weight: 600;
}
a, svg {
	text-decoration: none;
	transition: color 0.2s;
}
button, .button {
	padding: 0.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-transform: capitalize;
	transition: background-color 0.2s;
}
input {
	border: none;
	border-bottom: 1px solid;
	padding: 4px;
}
footer {
	margin-bottom: 0;
}
.no_scroll {
	overflow: hidden;
}
.dialog_area {
	height: 100vh;
	width: 100vw;
	position: absolute;
	display: none;
	top: 0;
	opacity: 0;
}
.dialog_area_open {
	animation-name: dialog_area_visible;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	display: flex;
}
.dialog_area_open > .dialog {
	animation-name: dialog_slide_down;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.dialog_area_close {
	animation-name: dialog_area_invisible;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.dialog_area_close > .dialog {
	animation-name: dialog_slide_up;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.dialog {
	margin: auto;
	width: 750px;
	box-shadow: 0px 12px 24px var(--shadow);
	opacity: 0;
	transform: translateY(-100px);
}
.dialog_header h2 {
	margin-bottom: 0;
}
.dialog > section:not(.dialog_footer) {
	padding: 0 1rem;
}
.dialog_body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	overflow: auto;
	max-height: 70vh;
}
.dialog_body > h3 {
	grid-column: 1 / -1;
}
.dialog_cell {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.price_button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	height: 50px;
	border: 1px solid var(--shadow);
}
.dialog_footer {
	padding: 0.5rem 1rem;
	text-align: right;
	margin-top: 1rem;
}
.site_header {
	font-weight: 600;
}
.site_nav a {
	transition: color 0.2s;
	margin: 0 0.5rem;
    padding-bottom: 15px;
}
.site_nav a:first-child {
	margin-left: 0;
}
.site_nav a:last-child {
	margin-right: 0;
}
.site_nav svg {
	margin-left: 0.25rem;
	margin-right: 0.5rem;
}
.search_button {
	border-radius: 50%;
}
.hero {
	height: 400px;
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.hero h1 {
	font-size: 3em;
	margin: 1.5rem 0;
	z-index: 1;
}
.hero img {
	position: absolute;
}
.stroked_button {
	border: 1px solid;
}
.filled_button {
	padding: calc(0.5rem + 1px);
}
@media (max-width: 1399px) {
	main > *:not(.hero) {
		margin: 0 1rem;
	}	
}
@media (max-width: 767px) {
	.nav_title {
		display: none;
	}
	.dialog {
		margin: auto 1rem;
		width: 100%;
	}
	.dialog_body {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 480px) {
	.site_nav svg {
		margin-left: 0.6rem;
		margin-right: 0.5rem;
	}
	.search_form input {
		width: 125px;
	}
	.hero {
		height: 250px;
	}
}
@keyframes dialog_slide_down {
	from {opacity: 0; transform: translateY(-100px);}
	to {opacity: 1; transform: translateY(0px);}
}
@keyframes dialog_slide_up {
	from {opacity: 1; transform: translateY(0px);}
	to {opacity: 0; transform: translateY(-100px);}
}
@keyframes dialog_area_visible {
	from {opacity: 0;}
	to {opacity: 1;}	
}
@keyframes dialog_area_invisible {
	from {opacity: 1;}	
	to {opacity: 0;}
}