html, button, input {
	font-family: 'Lato', sans-serif;
}
body {
	margin: 0;
}
main > *:not(.hero) {
	max-width: 1400px;
	margin: auto;
}
header {
	height: 48px;
}
header, h1, h2, h3, button, .button {
	font-weight: 700;
}
h1, h2, h3, h4, h5 {
	font-family: 'Noto Sans', sans-serif;
}
a, svg {
	text-decoration: none;
	transition: color 0.2s;
}
button, .button {
	padding: 0.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 0.875em;
	transition: background-color 0.2s;
}
input {
	border: none;
	border-bottom: 1px solid;
	padding: 4px;
}
footer {
	margin-bottom: 0;
}
.site_header, .site_header section {
	display: flex;
	flex-direction: row;
}
.site_header section {
	width: 700px;
}
.site_header section:first-child {
	justify-content: flex-start;
	margin-left: auto;
}
.site_header section:last-child {
	justify-content: flex-end;
	margin-right: auto;
}
.site_header section > * {
	margin: 0 0.5rem;
	align-self: center;
}
.site_header section > *:first-child {
	margin-left: 1rem;
}
.site_header section > *:last-child {
	/*margin-right: 1rem;*/
}
.site_nav a {
	transition: color 0.2s;
	margin: 0 0.5rem;
    padding-bottom: 15px;
}
.site_nav a:first-child {
	margin-left: 0;
}
.site_nav a:last-child {
	margin-right: 0;
}
.site_nav svg {
	margin-left: 0.25rem;
	margin-right: 0.5rem;
}
.search_button {
	border-radius: 50%;
}
.hero {
	height: 400px;
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.hero h1 {
	font-size: 3em;
	margin: 1.5rem 0;
	z-index: 1;
}
.hero img {
	position: absolute;
}
.stroked_button {
	border: 1px solid var(--text-dark-translucent);
}
@media (max-width: 1399px) {
	main > *:not(.hero) {
		margin: 0 1rem;
	}	
}
@media (max-width: 480px) {
	.site_nav svg {
		margin-left: 0.6rem;
		margin-right: 0.5rem;
	}
	.nav_title {
		display: none;
	}
	.search_form input {
		width: 125px;
	}
}