:root {
	--accent-main: hsl(210, 73%, 53%);
	--accent-gradient: hsl(225, 73%, 53%);
	--accent-highlight: hsl(210, 73%, 60%);
	--accent-gradient-highlight: hsl(225, 73%, 60%);
	--accent-dark: hsl(210, 73%, 35%);
	--accent-light: hsl(210, 73%, 85%);
	--accent-translucent: hsla(210, 73%, 53%, 0.6);
	--accent-gradient-translucent: hsla(225, 73%, 53%, 0.6);
	--dark-grey: hsl(203, 0%, 20%);
	--white-translucent: hsla(0, 0%, 100%, 0.8);
	--light-grey-translucent: hsla(0, 0%, 95%, 0.8);
	--text-dark-translucent: hsla(0, 0%, 30%, 0.8);
	--shadow: hsla(0, 0%, 0%, 0.2);
	--shadow-light: hsla(0, 0%, 0%, 0.08);
}
html, .subheader, .info_window, .dialog {
	background: hsl(0, 0%, 98%);
}
html {
	color: var(--text-dark-translucent);
}
header a:hover, .site_nav a:hover, .site_nav a:hover > svg,
.site_nav > .nav_selected, .site_nav > .nav_selected:hover, .nav_selected svg,
.stroked_button, .stroked_button:hover, .product_oem, .info_window_row_button_active {
	color: var(--accent-main);
}
header input {
	background-color: var(--light-grey-translucent);
}
h1, h2, h3, h4, .spec_table_row svg {
	color: var(--dark-grey);
}
a, button, .button, button:hover, .button:hover, .hero h1, .hero h2 {
	color: var(--text-dark-translucent);
}
button, .button, input {
	background-color: transparent;
}
button:hover, .button:hover {
	background-color: var(--shadow-light);
}
footer {
	background-color: var(--dark-grey);
	color: hsl(0, 0%, 80%);	
}
.dialog_area {
	background: var(--white-translucent);	
}
.dialog_footer, .info_window_footer {
	background-color: var(--light-grey-translucent);
}
.site_header {
	border-bottom: 1px solid var(--shadow);
}
.icon_button_overlay {
	background: var(--accent-main);
	color: white;
}
.stroked_button, .stroked_button:hover {
	border-color: var(--accent-light);
}
.filled_button {
	background: linear-gradient(var(--accent-main), var(--accent-gradient));
}
.filled_button:hover {
	background: linear-gradient(var(--accent-highlight), var(--accent-gradient-highlight));
}
.filled_button, .filled_button:hover {
	color: #fff;
}
.opaque, .item {
	background-color: #fff;
}
@media (max-width: 767px) {
	.info_window {
		background: transparent;
	}
	.info_window_footer {
		background-color: transparent;
	}
}