:root {
	--accent-main: hsl(203, 100%, 50%);
	--accent-gradient: hsl(213, 100%, 50%);
	--accent-highlight: hsl(203, 100%, 60%);
	--accent-gradient-highlight: hsl(213, 100%, 60%);
	--accent-dark: hsl(203, 100%, 40%);
	--accent-text: hsl(203, 100%, 90%);
	--grey: hsl(203, 0%, 20%);
	--text-dark-translucent: hsla(0, 0%, 15%, 0.8);
	--shadow: hsla(0, 0%, 0%, 0.2);
	--shadow-light: hsla(0, 0%, 0%, 0.08);
}
html, .subheader {
	background: hsl(0, 0%, 98%);
	color: var(--text-dark-translucent);
}
header, footer {
	background-color: var(--grey);
}
header, header a, .site_nav a, header svg, header input, footer {
	color: hsl(0, 0%, 80%);	
}
header a:hover, .site_nav a:hover, .site_nav a:hover > svg, .site_nav > .nav_selected, .site_nav > .nav_selected:hover, .nav_selected svg {
	color: #fff;
}
header input {
	border-color: hsl(0, 0%, 80%);
}
h1, h2, h3, h4 {
	color: #000;
}
a, button, .button, button:hover, .button:hover, .hero h1 {
	color: var(--text-dark-translucent);
}
button, .button, input {
	background: transparent;
}
button:hover, .button:hover {
	background: var(--shadow-light);
}
.stroked_button {
	border-color: var(--text-dark-translucent);
}
.filled_button {
	background: linear-gradient(var(--accent-main), var(--accent-gradient));
}
.filled_button:hover {
	background: linear-gradient(var(--accent-highlight), var(--accent-gradient-highlight));
}
.filled_button, .filled_button:hover {
	color: #fff;
}
.opaque, .item {
	background-color: #fff;
}
.active_colour, .active_storage {
	background-color: var(--shadow-light);
	color: var(--accent-main);
}
.info_window {
	border-top: solid 6px var(--accent-gradient);
}
.info_window_row_button:hover {
	color: var(--accent-highlight);
}